img {
	width:400;
	height:300;
	border:10px solid  #31AECB
	
}


}div {
	
	
}body {
	color: white;
	font-family: Ariel;
	font-size: 25px
}

.title {
	color: white;
	font-size: 45px;
    font-family: Verdana;
     text-shadow: 4px 4px 8px #000000;
	 }

